body {
    background-color: lightyellow;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: darkblue;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}
